<div class="card">
    <img ngSrc="../../../../assets/user.png" width = "50" height="50" [id] = "this.uImgId" alt="user photo"
    width="50" height="50">
    <div class="content">
        <p class = "emphasis">{{this.userName}}</p>
        <p id = "post">{{this.post}}</p>
        <img *ngIf = "postImgId !== ''" alt="Post image" [id]= "this.postId" width ="200" height = "200">
        <p class = "emphasis">{{this.date | date: 'd/M/yy, h:mm a'}}</p>
    </div>
        <button *ngIf = "(this.currentUserId === this.userId)||this.isAdmin === 'true'" (click) = "deleteHandler()"class="btn btn-primary">
            <img
            ngSrc="../../../../assets/delete.png"
            alt="attach-img"
            class = "delete"
            width="20"
            height="20"
          /></button>

</div>

<!--   <div class="post-content" *ngIf = "this.userPhoto$ | async;else loading">
                {{this.userPhoto$}}
            </div>
            <ng-template #loading>
                <img src="../../../assets/__Iphone-spinner-1.gif" id = "spinner" alt="Loading Spinner">
                <span>Loading Images...</span>
              </ng-template>-->