<form [formGroup] = "registerForm" (ngSubmit) = "onRegister()">
    <div class="card">
        <div class="mb-3">
            <h3>Register</h3>
        </div>

        <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstName" placeholder="First Name" formControlName = "firstName">
        </div>
        <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastName" placeholder="Last Name" formControlName = "lastName">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="Email" formControlName = "email">
        </div>
        <div class="mb-3">
            <label for="dob" class="form-label">Date of Birth</label>
            <input type="date" class="form-control" id="dob" formControlName = "dob" [max] = "today">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" formControlName = "password">
        </div>
        <div class = "gender">
            Gender:
            &nbsp;&nbsp;
            <input type="radio" value="male" name="gender" formControlName="gender"> &nbsp;Male&nbsp;&nbsp;&nbsp;
            <input type="radio" value="female" name="gender" formControlName="gender"> &nbsp;Female&nbsp;
        </div>
        <button type = "submit" class="btn btn-primary" [disabled]="this.registerForm.invalid">Register</button>
    </div>
</form>
