<div class="content">
  <app-user-profile></app-user-profile>
  <div class="requests" *ngIf="requests$ | async; else loading">
    <div *ngFor="let request of users">
      <app-friend-profile
        [id]="request.id"
        [name]="request.name"
        [email]="request.email"
        [status]="request.status"
        [uphotoid] = "request.photoId"
      ></app-friend-profile>
    </div>
  </div>
  <ng-template #loading>
    <img
      id="spinner"
      src="../../../assets/__Iphone-spinner-1.gif"
      alt="loading Spinner"
    />&nbsp;Loading Requests;
  </ng-template>
</div>
