/* You can add global styles to this file, and also import other style files */
@font-face{
    font-family: 'Jost', sans-serif;
    src: url('./assets/Jost-Light.ttf');
}
body{
    font-family: 'Jost', sans-serif;
    background-color: white;
}