.card{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow:  4px 4px 5px rgb(195, 194, 194);
    max-width:550px;
    width:83vw;
    height:70px;
    margin-left:10px;
    margin-top:10px;
    padding-left: 10px;
    padding-right: 10px;
}

.user-detail{
    display: flex;
    flex-direction: row;
    align-items: center;
}
p{
    margin-top:10px;
}
.user{
    margin-left:20px;
    font-size: 1.2em;
}
img{
    height:50px;
}

.user-ids{
    display: flex;
    flex-direction: column;

}
#email{
    font-size: 0.7em;
}